<div class="panel panel-default reset-passwrod-panel">
  <div class="panel-body">
    <h4>Reset Password</h4>

    <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)" novalidate>
      <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input type="password" class="form-control" id="oldPassword" placeholder="Old password" required [(ngModel)]="user.oldPassword" name="oldPassword" #oldPassword="ngModel">
        <!--<p [hidden]="oldPassword.valid || oldPassword.pristine" class="text-danger">
          Password is required
        </p>-->

        <app-form-messages *ngIf="oldPassword.invalid && oldPassword.dirty" [control]="oldPassword"></app-form-messages>
      </div>

      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" class="form-control" id="newPassword" placeholder="New password" required [(ngModel)]="user.newPassword" name="newPassword" #newPassword="ngModel">
        <app-form-messages *ngIf="newPassword.invalid && newPassword.dirty" [control]="newPassword"></app-form-messages>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" required [(ngModel)]="user.confirmPassword" name="confirmPassword" #confirmPassword="ngModel">
        <app-form-messages *ngIf="confirmPassword.invalid && confirmPassword.dirty" [control]="confirmPassword"></app-form-messages>
      </div>

      <button type="submit" class="btn btn-default" [disabled]="!resetPasswordForm.form.valid">Reset</button>
    </form>
  </div>
</div>