<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a href="/home" class="navbar-brand"><i class="fa fa-cube"></i>Project name</a>
    </div>
    <div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li routerLink="/home" routerLinkActive="active"><a href="javascript:void(0);">Home</a></li>
        <li routerLink="/reset" routerLinkActive="active"><a href="javascript:void(0);">Reset Password</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLink="/login" routerLinkActive="active"><a href="javascript:void(0);">Login</a></li>
        <li routerLink="/signup" routerLinkActive="active"><a href="javascript:void(0);">Create Account</a></li>
      </ul>
    </div>
  </div>
</div>