<div class="panel panel-default login-panel" [@isVisibleChanged]="animationState">
  <div class="panel-body">
    <h1>Login</h1>
    
    <!--Template driven form-->
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="login-form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Email" autofocus required [(ngModel)]="user.email" name="email" #email="ngModel">
        <app-form-messages *ngIf="email.invalid && email.dirty" [control]="email"></app-form-messages>
        <!--<p [hidden]="email.valid || email.pristine" class="text-danger">
          Email is required
        </p>-->
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Password" required [(ngModel)]="user.password" name="password" #password="ngModel">
        <app-form-messages *ngIf="password.invalid && password.dirty" [control]="password"></app-form-messages>
      </div>
      <p *ngIf="showErr" class="text-danger">{{errMsg}}</p>
      <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </div>
</div>