<div class="panel panel-default">
  <div class="panel-body">
    <h4>Signup</h4>

    <form [formGroup]="newUserForm" (ngSubmit)="onSubmit(newUserForm.value)">
      <div>
        <label for="userName">User Name:</label>
        <input type="text" id="userName" class="form-control" [formControl]="newUserForm.controls['userName']">
        <app-form-messages [control]="newUserForm.controls['userName']"></app-form-messages>
      </div>
      <div>
        <label for="userName">Email:</label>
        <input type="text" class="form-control" [formControl]="newUserForm.controls['email']">
        <app-form-messages [control]="newUserForm.controls['email']"></app-form-messages>
      </div>
      <div>
        <label for="userName">Password:</label>
        <input type="text" class="form-control" [formControl]="newUserForm.controls['password']">
        <app-form-messages [control]="newUserForm.controls['password']"></app-form-messages>
      </div>
      <div>
        <label for="userName">Age:</label>
        <input type="text" class="form-control" [formControl]="newUserForm.controls['age']">
        <app-form-messages [control]="newUserForm.controls['age']"></app-form-messages>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-sm btn-success">Save</button>
      </div>
    </form>
  </div>
</div>